$color: (
    primary:   #009eec, // 主色
    primary01: #91dfff, // 主色
    primary02: #e1f3ff, // 主色
    primary03: #f8fdff, // 主色
    primary04: #2b7abd,
    primary05: #59C1FB,
    auxiliary: #FFC100, // 辅色
    red:       #fd5158, // 红色
    blue:      #43BEF6, // 蓝色
    orange:    #ff7647, // 橙色
    green:     #5ccf5a, // 绿色
    yellow:    #FFC100, // 黄色
    pink:      #ff4b85, // 粉红色
    purple:    #675fd6, // 紫色
    black:     #000   , // 黑色
    darkest:   #333   , // 最暗黑
    darker:    #666   , // 深暗深灰
    dark:      #999   , // 暗深灰
    darkgray:  #606266, // 深灰
    gray:      #ddd   , // 灰
    light:     #f5f5f5, // 亮灰
    white:     #fff    // 白色
)