@import './normalize.scss';
@import './core/_index.scss';

*{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}


.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix{
    &::after{
        clear: both;
    }
}
.mr0{
    margin-right: 0px;
}
.mr10{
    margin-right: 10px;
}
.mr15{
    margin-right: 15px;
}
.ml10{
    margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml25{
    margin-left: 25px;
}
